<form>
    
    <div class="col-md-4 offset-md-4">
        
        <div class="form-group">
            <label for="customerid" class="form-label mt-4">Customer Id</label>
            <input type="text" class="form-control" id="customerid" name="customerid" aria-describedby="customerid"
                placeholder="Enter customerid" [(ngModel)]="transaction.customerid" readonly>
        </div>
        <div class="form-group">
            <label for="senderbic" class="form-label mt-4">SenderBIC</label>
            <input type="text" class="form-control" id="senderbic" name="senderbic" aria-describedby="senderbic"
                placeholder="Enter senderbic" [(ngModel)]="transaction.senderbic" readonly>
        </div>
        <div class="form-group">
            <label for="receiverid" class="form-label mt-4">receiverid</label>
            <input type="text" class="form-control" id="receiverid" name="receiverid" aria-describedby="receiverid"
                placeholder="Enter receiverid" [(ngModel)]="transaction.receiverid">
        </div>
        <div class="form-group">
            <label for="receiverbic" class="form-label mt-4">recieverBIC</label>
            <input type="text" class="form-control" id="receiverbic" name="receiverbic" aria-describedby="receiverbic"
                placeholder="Enter receiverbic" [(ngModel)]="transaction.receiverbic" readonly>
        </div>
        <div class="form-group">
            <label for="transfertype" 
            class="form-label mt-4">TransferType</label>
                <select 
                id="transfertype" 
                name="transfertype"         
                class="form-select">
                    <option value="">select transfer type</option>
                    <option 
                    *ngFor="let c of transfertypes" 
                    [value]="c.code" 
                    >{{c.name}}
                    </option>
                </select>
        </div>
        <div class="form-group">
            <label for="currencyamount" class="form-label mt-4">amount</label>
            <input type="number" class="form-control" id="currencyamount" name="currencyamount" aria-describedby="currencyamount"
                placeholder="Enter Amount" [(ngModel)]="transaction.currencyamount" >
        </div>
        <div class="form-group">
            <label for="transferfees" class="form-label mt-4">TransferFees</label>
            <input type="number" class="form-control" id="transferfees" name="transferfees" aria-describedby="currencyamount"
                 [(ngModel)]="transaction.transferfees" [value]="this.transaction.currencyamount*0.0025" readonly>
        </div>

    
       
         <div class="form-group mt-3">
            <button type="button" (click)="handleRegister()" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>